.bg-efbf04 {
    background-color: #EFBF04;
  }
  .sidenav {
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100%;
    overflow-y: auto;
    transition: width 0.3s; 
  }
  
  .sidenav-closed {
    width: 80px;
  }
  
  .sidenav-open {
    width: 250px; 
  }
  
  
  .icon-only {
    display: none;
  }
  
  .sidenav-closed .icon-only {
    display: inline;
  }
  
  .sidenav-open .icon-only {
    display: none;
  }
  
  .text-only {
    display: inline;
  }
  
  .sidenav-closed .text-only {
    display: none;
  }
  