*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard{
    width: 100%;
    height: auto;
    /* background: linear-gradient(30deg,rgb(28, 37, 122), rgb(0, 0, 14) , rgb(4, 4, 26)30%, rgb(28, 37, 122) 70%, rgb(0, 0, 14), rgb(0, 0, 14)); */
    padding-top: 50px;
    padding-bottom: 10%;
}

.dashboard-container{
    width: 80%;
    height: 90%; /* should be changed to auto */
    background: #03033d;
    margin: auto;
}

.dashboard-header{
    width: 80%;
    height: 70px;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #FFFFFF, #a9bde6);
    color: #EC255A;
    font-weight: 600;  
}
ul{
    display: flex;
    align-items:flex-start;
}
li{
    flex-basis: 33.33%;
    list-style: none;
    display: block;
    line-height: 70px;
}

.dashboard-desc{
    padding-top: 80px;
    color: #fff;
}

.upper-row{
    display: flex;
    color: #fff;
    /* align-items: center;
    justify-content: space-between; */
}

.upper-col{
    flex-basis: 50%;    
}

.upper-col:first-child{
    background-color: #fff;  
    box-shadow: inset 20px 20px 10px rgb(6, 6, 37);
    color: #03033d; 
}

/* .upper-col:first-child img{
    width: 100px;
    height: 100px;
} */
.upper-col h1{
    padding: 50px;
}

.upper-col p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 5px;
}
.dashboard-comp-user{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* cover rows */
.rows-cover{
    display: flex;    
}

/* sidebar */
.sidebar{
    flex: 2;
    padding-top: 50px;
    background-color: #fff;
}
.sidebar h1{
    text-transform: uppercase;
    text-align: left;
}

.sidebar-btn{
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 0;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.sidebar-btn:hover{
    background-color: rgb(223, 216, 216);
}

/* rows */
.rows{
    flex: 10;
    margin-top: 50px;
}

.dashboard-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-col{
    flex: 25%;
    padding: 20px;
    margin: 20px;
    color: #fff;
    background-color: rgb(3, 3, 61);
    align-self:normal;
    box-shadow: 10px 10px 10px rgb(6, 6, 37);
}

.dashboard-col:hover{
    background-color: rgb(6, 6, 37);
}

.dashboard-col-title h2{
    font-size: 20px;
    word-spacing: 5px;
}

.services-col-desc{
    font-family: 'Times New Roman', Times, serif;;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    line-height: 25px;
    font-size: 14px;
    text-transform: lowercase;
}

.service-btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

.service-btn:hover{
    background-color: #EC255A;
    color: #fff;
}

.report-link{
    text-decoration: none;
}