*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.create{
    width: 100%;
    height: auto;
    /* background-image: url('../../../images/bg.jpg'); */
    background: linear-gradient(30deg,white, lightblue , lightblue 30%, white 70%, lightblue, lightblue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.create-cover{
    width: 80%;
    height: auto;
    margin: auto;
    /* background-color: rgba(27, 77, 214, 0.55); */
    /* opacity: 0.85; */
    /* background-color: lightblue;
    border-radius: 700px 600px 900px 0; */
}

.create-form{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: transparent;
}

.create-form label {
    color: rgb(1, 56, 56);
}
.row1{
    display: flex;
}
.col2{
    display: flex;
}

.row1-col{
    flex-basis: 50%;
    padding: 20px;
    
}
.row1-col2{
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
}

.fieldset-header{
    /* color: #fff; */
    color: #03033D;
    padding-bottom: 20px;
}

.fieldset-header:first-child{
    padding-top: 20px;
}

label{
    color: red;
}

input{
    background-color: #ece7e7;
    font-weight: 600;
}

button{
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
}
