* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register {
    width: 100%;
    height: auto;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    flex-direction: column; /* Added */
}

.register h1 {
    color: red;
}

.signup-form {
    width: 30%; /* Adjusted width */
    /* background-color: #d8d3d3; */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.reg-label {
    /* color: #EC255A; */
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 30px;
    width: 80%;
    text-align: left;
    width: 100%;
    display: inline-block;
}

input {
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-width: 0 0 thin 0;
}

.form-submit {
    width: 60%;
    background: #ccc;
    border-radius: 5px;
    color: red;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #fff;
    color: red;
}
p {
    color: red;
}
