/* 
.test{
    width: 100%;
    height: 100vh;
    background: #e0d4f3;
    background: linear-gradient(90deg,#e0d4f3,#eee4ff, #FFFFFF, #eee4ff, #ceb0cc);
}

.test2{
    width: 300px;
    height: 250px;
    background: linear-gradient(to left,#ceb0cc,#eee4ff);
    float: right;
    border-radius: 200px 0 400px 300px;
    margin-top: 200px;
} */
.hand-fan {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.hand-fan .segment {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 50px;
    border-color: transparent transparent lightblue transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: top left;
    transform: rotate(30deg);
}

.hand-fan .segment:nth-child(2) {
    transform: rotate(60deg);
}

.hand-fan .segment:nth-child(3) {
    transform: rotate(90deg);
}

.hand-fan .segment:nth-child(4) {
    transform: rotate(120deg);
}

.hand-fan .segment:nth-child(5) {
    transform: rotate(150deg);
}