
.test{
    width: 100%;
    height: 100vh;
    background: #e0d4f3;
    background: linear-gradient(90deg,#e0d4f3,#eee4ff, #FFFFFF, #eee4ff, #ceb0cc);
}

.test2{
    width: 300px;
    height: 250px;
    background: linear-gradient(to left,#ceb0cc,#eee4ff);
    float: right;
    border-radius: 200px 0 400px 300px;
    margin-top: 200px;
}