@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  width: 99%;
}

:root {
  font-family: "Inter", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-efbf04 {
  background-color: #EFBF04;
}